#data-viz {
  display: flex;
  background-color: #444b5a;
  padding-left: 15px;
  align-self: center;

    .path-container {
      display:inline-block;
      width:fit-content;
      block-size: fit-content;
      height: fit-content;
      overflow:auto;
    }

    .timestamp {
      width: 300px;
      height: 100px;
      color: aliceblue;
      align-self: center;
    }
    
    .tooltip {
      opacity: 0;
      background: white;
      color: black;
      position: absolute;
      height: fit-content;
      border: solid;
      width: 300px;
      border-width: 2px;
      border-radius: 5px;
      padding: 5px;
      pointer-events:none; 
    }

}